@{
    Layout = null;
}
@model MVC5_EF6.Models.SysUser
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <dl>
            <dt>@Html.DisplayNameFor(model => model.Username)</dt>
            <dd>@Html.DisplayFor(model => model.Username)</dd>
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
        </dl>
    </div>
</body>
</html>
